# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data directories
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# IDE settings
.vscode/
.idea/


Thumbs.db
ehthumbs.db

# Python egg and cache files
*.egg-info/
dist/
build/

# Jupyter Notebook outputs (optional)
*.nbconvert.ipynb
    
# pytest (optional)
.pytest_cache/
.coverage
